<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="/css/normalize.css">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/3b345a021c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="contenedor-logo-busqueda">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo" alt="Logo Mercado Liebre"></a>
                <div class="barra-busqueda"><a href="#"></a>
                    <input type="search" name="barra-busqueda" placeholder="Buscar productos, marcas, etc."
                        style="width: 100%;" class="control">
                    <i class="fas fa-search icono-busqueda"></i>
                </div>
            </div>
            <h3 class="copy-header"><i class="fas fa-hand-holding-usd icono-cuotas"></i>Comprá en cuotas y sin tarjeta
                de crédito
            </h3>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register.html">Creá tu cuenta </a><i class="fas fa-id-card iconos-rightbar"></i></li>
                <li><a href="/login.html">Ingresá </a><i class="fas fa-sign-in-alt iconos-rightbar"></i></li>
                <li><a href="">Mis compras </a><i class="fas fa-shopping-basket iconos-rightbar"></i></li>
            </ul>
        </nav>

        <div><a href="#" class="burger-menu">
        <div class="contenedor-burger-menu"><a href="#" class="burger-menu">
                <i class="fas fa-bars"></i>
            </a>
        </div>

    </header>

    
    <main class="main">

    <main>
        <div class="banner">
            <img src="/images/img-home-banner.jpg" alt="">
        </div>

        <div class="titulo-secciones">
            <h4>Basado en tu última visita</h4>
        </div>
        <div class="contenedor-productos">
            <article class="producto">
                <div class="imagenes-productos">
                    <img src="/images/img-cafetera-moulinex.jpg" width="100%">
                </div>
                
                <div class="contenedor-producto-descripcion">
                    
                <div class="caja-datos">
                    <div class="contenedor-precio-descuento">
                        <i class="fas fa-shipping-fast iconos-envio"></i>
                        <p class="precios">$6770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <div class="contenedor-producto-descripcion">
                        <p>Cafetera Moulinex</p>
                    </div>
                </div>
            </article>

            <article class="producto">
                <div class="imagenes-productos">
                    <img src="/images/img-macbook-pro-2019.jpg" width="100%">
                </div>
                
                <div class="contenedor-producto-descripcion">
                    
                <div class="caja-datos">
                    <div class="contenedor-precio-descuento">
                        <i class="fas fa-shipping-fast iconos-envio"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <div class="contenedor-producto-descripcion">
                        <p>MacBook Pro 2019</p>
                    </div>
                </div>
            </article>

            <article class="producto">
                <div class="imagenes-productos">
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
                </div>
               
                <div class="contenedor-producto-descripcion">
                    
                <div class="caja-datos">
                    <div class="contenedor-precio-descuento">
                        <i class="fas fa-shipping-fast iconos-envio"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                    </div>
                    <div class="contenedor-producto-descripcion">
                        <p>Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>

            <article class="producto">
                <div class="imagenes-productos">
                    <img src="/images/img-tv-samsung-smart.jpg" width="100%">
                </div>
               
                <div class="contenedor-producto-descripcion">
                    
                <div class="caja-datos">
                    <div class="contenedor-precio-descuento">
                        <i class="fas fa-shipping-fast iconos-envio"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                    </div>
                    <div class="contenedor-producto-descripcion">
                        <p>SmartTV Samsung 43"</p>
                    </div>
                </div>
            </article>
        </div>
        <div class="titulo-secciones">
            <h4>Sección de Ofertas</h4>
        </div>
        <div class="contenedor-productos">
            <article class="producto">
                <div class="imagenes-productos">
                    <img src="/images/img-cafetera-moulinex.jpg" width="100%">
                
                
                <div class="caja-datos">
                    <div class="contenedor-precio-descuento">
                        <i class="fas fa-shipping-fast iconos-envio"></i>
                        <p class="precios">$6770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <div class="contenedor-producto-descripcion">
                        <p>Cafetera Moulinex</p>
                    </div>
                </div>
            </article>

            <article class="producto">
                <div class="imagenes-productos">
                    <img src="/images/img-macbook-pro-2019.jpg" width="100%">
                </div>
               
                <div class="caja-datos">
                    <div class="contenedor-precio-descuento">
                        <i class="fas fa-shipping-fast iconos-envio"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <div class="contenedor-producto-descripcion">
                        <p>MacBook Pro 2019</p>
                    </div>
                </div>
            </article>

            <article class="producto">
                <div class="imagenes-productos">
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="100%">
                </div>
                
                <div class="caja-datos">
                    <div class="contenedor-precio-descuento">
                        <i class="fas fa-shipping-fast iconos-envio"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                    </div>
                    <div class="contenedor-producto-descripcion">
                        <p>Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>

            <article class="producto">
                <div class="imagenes-productos">
                    <img src="/images/img-tv-samsung-smart.jpg" width="100%">
                </div>
              
                <div class="caja-datos">
                    <div class="contenedor-precio-descuento">
                        <i class="fas fa-shipping-fast iconos-envio"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                    </div>
                    <div class="contenedor-producto-descripcion">
                        <p>SmartTV Samsung 43"</p>
                    </div>
                </div>
            </article>
        </div>
    </main>

    <footer>
    <footer class="contenedor-footer">

        <div class="texto-footer"><i class="fas fa-credit-card iconos-footer"></i>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p>Con MercadoLiebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                es seguro!</p>
        </div>
        <div class="texto-footer"><i class="fas fa-gift iconos-footer"></i>
            <h5>Envío gratis desde $2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenes envíos gratis en miles de productos. Es un
                beneficio de Mercado Puntos</p>
        </div>
        <div class="texto-footer"><i class="fas fa-user-shield iconos-footer"></i>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@</p>
        </div>

        
    </footer>

    <p>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>

</body>

</html>