<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width">
        <link rel="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
         rel="stylesheet"/>
        <link rel="stylesheet" href="/css/style.css">

        </head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="contenedor-logo-busqueda">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo" alt="Logo Mercado Liebre"></a>
                <div class="barra-busqueda"><a href="#"></a>
                    <input type="search" name="barra-busqueda" placeholder="Buscar productos, marcas, etc."
                        style="width: 100%;" class="control"></input>
                    <i class="fas fa-search icono-busqueda"></i>
                </div>
            </div>
            <h3 class="copy-header"><i class="fas fa-hand-holding-usd icono-cuotas"></i>Comprá en cuotas y sin tarjeta
                de crédito
            </h3>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register.html">Creá tu cuenta </a><i class="fas fa-id-card iconos-rightbar"></i></li>
                <li><a href="/login.html">Ingresá </a><i class="fas fa-sign-in-alt iconos-rightbar"></i></li>
                <li><a href="">Mis compras </a><i class="fas fa-shopping-basket iconos-rightbar"></i></li>
            </ul>
        </nav>
        <div><a href="#" class="burger-menu">
                <i class="fas fa-bars"></i>
            </a>
        </div>
    </header>
    <form action="" method="POST" class="login-form">
        <fieldset class="control-formulario">
            <input type="text" name="nombreUsuario" id="nombreUsuario" class="control" placeholder="Nombre de usuario"
                minlength="4" maxlength="12">
        </fieldset>
        <fieldset class="control-formulario">
            <input type="password" name=contraseña id="contraseña" class="control" minlength="4" maxlength="12"
                required placeholder="Ingresá tu contraseña">
        </fieldset>
        <fieldset class="control-formulario">
            <button type="submit" class="boton-formulario">Enviar</button>
        </fieldset>

    </form>

    <footer>
    <footer class="contenedor-footer">

        <div class="texto-footer"><i class="fas fa-credit-card iconos-footer"></i>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p>Con MercadoLiebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                es seguro!</p>
        </div>
        <div class="texto-footer"><i class="fas fa-gift iconos-footer"></i>
            <h5>Envío gratis desde $2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenes envíos gratis en miles de productos. Es un
                beneficio de Mercado Puntos</p>
        </div>
        <div class="texto-footer"><i class="fas fa-user-shield iconos-footer"></i>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@</p>
        </div>

        
    </footer>

    <p>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>

</body>


</html>